/* Updated 2/5/17 */


/* Reset Fonts for all Telerik Controls */

[id*=Wfz] div,
[id*=Wfz] .riSingle,
[id*=Wfz] p,
[id*=Wfz] em,
[id*=Wfz] small,
[id*=Wfz] strong,
[id*=Wfz] b,
[id*=Wfz] u,
[id*=Wfz] i,
[id*=Wfz] ol,
[id*=Wfz] ul,
[id*=Wfz] li,
[id*=Wfz] fieldset,
[id*=Wfz] form,
[id*=Wfz] label,
[id*=Wfz] legend,
[id*=Wfz] table,
[id*=Wfz] caption,
[id*=Wfz] tr,
[id*=Wfz] th,
[id*=Wfz] input,
[id*=Wfz] textarea,
input[type=button],
.rpTemplate,
.RadComboBoxDropDown {
    font: inherit !important;
    line-height: 22px !important;
}


/* labels */

label {
    margin-left: 0;
}

.control-label {
    display: inline-block;
    font: inherit !important;
    margin: 0;
    padding: 4px 0;
}

@media (max-width: 768px) {
    .control-label {
        margin-bottom: 15px !important;
    }
}


/* wrapper - over ride display: table setting on wrapper which breaks responsive tables / amend footer style; */

.wrapper,
.footer {
    display: block !important;
    width: 100%;
}


/* required fields */

#MainHtml [id*=Caption].control-label.Required,
[id*=AppMultiInstanceAnswer].control-label.Required,
span.Required {
    background: none !important;
}

.control-label.Required:after,
span.Required:after {
    content: " * ";
    color: red;
    padding-top: 0.2em;
    padding-left: 4px;
    position: absolute;
}


/* fix position of required field indicator on small screen sizes *
/* label for checkboxes on small screens */

label[id*=CaptionMobile] {
    /* margin: 1px !important; */
    width: 90%;
}

#MainHtml [id*=CaptionMobile].control-label.Required {
    padding-left: 9px !important;
    line-height: 14px;
    color: black;
    font-size: 0.92em !important;
    position: relative;
}

#MainHtml [id*=CaptionMobile].control-label.Required:before {
    left: 45px !important;
}


/* read only fields */

span[disabled] {
    background: #fafafa;
    padding: 5px 10px;
    min-width: 160px;
    display: inline-block;
    min-height: 35px;
    border: 1px solid #ddd;
    margin: 0;
    font-weight: 400;
}


/* contact info */

.RadPanelBar {
    border: none !important;
}

[id*="SummaryRadPanelBar"]>ul {
    background: #f4f5ed;
    /* note - should be set in configuration */
    margin: 0 -15px !important;
    padding: 0 15px !important;
}


/* tool tips */

input[id*="Tooltip"] {
    margin-top: 4px;
    display: block;
    padding-left: 0;
}


/* errors */

.Important,
.ValidationError {
    display: block;
    margin: 5px 0 !important;
    /* float: left; */
}


/* clear fix to prevent validation messages wrapping */

.ValidationError:before {
    content: " ";
    display: block;
    clear: both;
    height: 1px !important;
}


/* row */

div[id*="Wfz"].t-row,
.t-row {
    margin: 0 -15px 25px -15px;
}

@media (max-width: 767px) {
    div[id*="Wfz"].t-row,
    .t-row {
        margin: 0 -15px 25px -15px;
    }
}


/* panel bar */


/* fix ie overflow issue */

.rwzContent,
.rwzContent .RadPanelBar {
    overflow: visible !important;
}

.RadPanelBar .rpGroup,
.rpSlide {
    height: auto !important;
}

.RadPanelBar ul.rpRootGroup {
    border-color: transparent;
}

.rpItem,
.rpGroup,
.rpSlide {
    overflow: visible !important;
}


/* hide expand mode */

.rpLink.rpExpandable {
    pointer-events: none;
}

.rpExpandHandle {
    display: none !important;
}


/* over ride background color property of panel item header */

div[id*="Wfz"] .RadPanelBar .rpGroup a.rpLink.rpSelected,
div[id*="Wfz"] .RadPanelBar .rpGroup a.rpLink>.rpOut {
    background-image: none !important;
}


/* panel bar headings */

.rpLink {
    padding: 6px 8px 6px 0;
    border-bottom: 1px dotted #ddd !important;
    background: none !important;
    margin-bottom: 10px;
}

.RadPanelBar .rpFocused .rpOut,
.RadPanelBar a.rpLink:hover .rpOut,
.RadPanelBar .rpSelected .rpOut,
.RadPanelBar a.rpSelected:hover .rpOut {
    padding-bottom: 0 !important
}


/* higher specificity required e.g. span + .rpText */

.RadPanelBar span.rpText {
    font-size: 150% !important;
    padding: 15px 0 !important;
    color: #666;
}

.rpOut {
    border: 0 !important;
}


/* inputs */

.riTextBox {
    padding: 5px 10px !important;
    border: 1px solid #ccc !important;
    height: 35px;
    color: #000 !important;
}


/* text area */

.RadInput.riSingle textarea {
    min-height: 100px;
}


/* file upload */

.RadUpload {
    width: auto !important;
}


/* temporary */

img[src*=NoImageAvailable] {
    display: none;
}


/* fake input */

.ruFakeInput {
    height: 35px !important;
    box-sizing: border-box !important;
}


/* successful upload */

.RadUpload .ruUploadSuccess {
    padding-right: 4px;
}


/* text and text area wrappers */


/* concatenated partial selector ([id*="RadText"]) and .RadInput.riSingle to exclude .riStrengthBar.riStrengthBar field wrappers */

[id*="RadText"].RadInput.riSingle {
    /* width: auto; */
}

[id*='RadTextArea_wrapper'] {
    width: 100% !important;
    display: block;
}


/* @media (min-width: 768px) {
    [id*="RadText"].RadInput.riSingle {
        min-width: 400px;
    }
} */

[id*="RadTextArea"],
[id*="TextBox_wrapper"] {
    /* width: 90% !important; */
}


/* numeric text box */

[id*="RadNumericTextBox"] {
    width: 70% !important;
}


/* radio button list / check box set */

.CheckBoxList {
    height: auto !important;
    width: 100% !important;
}

.CheckBoxList br {
    display: block;
    line-height: 1px;
    content: " ";
}

table[id*=RadioButtonList] {
    /* width: 100%; */
}

[id*="RadioButtonList"] td,
[class*="CheckBox"] td {
    padding: 2px;
}

[id*="RadioButtonList"] label,
[class*="CheckBox"] label {
    /* reset due to layout issues in Firefox and IE */
    /* margin-left: 10px; */
    margin-left: 0;
    font-weight: 400;
    color: #000 !important;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
    font-size: 0.92em !important;
    /* display: inline-block; */
    line-height: 1.2em !important;
    margin-top: 1px !important;
    width: 90% !important;
}

input[id*=RadioButtonList]+label {
    /* margin-top: -0.18em !important */
}


/* set checkbox margin top for single checkboxes, then over ride for check box list */

[id*='CheckBox'] {
    display: inline-block;
    margin: 6px 0 0 !important;
}

.CheckBoxList [id*='CheckBox'] {
    margin: 0 0 0 !important;
}


/* combo box (rcb) and drop down list (rddl) */

.RadComboBox {
    width: auto !important;
}

.RadComboBox span.rcbInner,
.RadDropDownList span.rddlInner {
    /*    background: transparent;*/
    height: 35px;
    border: 1px solid #ccc !important;
    padding-top: 0;
    padding-bottom: 0;
}

.RadComboBox span.rcbInner.rcbFocused {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.RadComboBox span.rcbInner input.rcbInput {
    height: 100%;
    padding: 0 10px;
}

.RadComboBox span.rcbInner.rcbFocused input:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* responsive combo box (rcb) */

@media (max-width: 468px) {
    .RadComboBox {
        width: 90% !important;
    }
}


/* drop down list (rddl) */

.RadDropDownList {
    font: inherit !important;
    width: 70% !important;
}

.RadDropDownList .rddlFakeInput {
    vertical-align: middle;
    display: table-cell !important;
    height: 35px;
}

.RadDropDownList span.rddlInner .rddlIcon:before {
    top: 0.2em !important;
}


/* drop down list items */

.rddlSlide {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.rddlSlide .rddlPopup {
    border: 1px solid #eee !important;
}


/* zebra striping */

.table-responsive tr:nth-of-type(odd) {
    background: #fafafa;
}


/* responsive data tables - https://css-tricks.com/responsive-data-tables/ */

.table-responsive th {
    background: #333;
    color: #fff;
    font-weight: 700;
}

.table-responsive td,
.table-responsive th {
    padding: 6px !important;
    border: 1px solid transparent !important;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .table-responsive table,
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr {
        display: block;
    }
    .table-responsive thead th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .table-responsive td:before {
        float: left;
        padding-right: 20px;
    }
    .table-responsive td,
    .table-responsive .rgAltRow td {
        border: none;
        border-bottom: 1px solid #fff !important;
        text-align: right;
        position: relative;
        padding-left: 50% !important;
    }
    .table-responsive td:before {
        content: attr(data-label);
        font-weight: 600;
        position: absolute;
        top: 6px;
        left: 6px;
        padding-right: 10px;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 45%;
        white-space: nowrap;
    }
    /* hide elements that contain nothing */
    .table-responsive td:empty {
        display: none;
    }
}


/* finder */

div[id*=Wfz__Finder] {
    display: inline-block;
    vertical-align: top;
}

@media (min-width: 768px) {
    .rfdSkinnedButton {
        /* height: 35px; */
        margin: 0 4px !important;
    }
}


/* picker */

.RadPicker .rcCalPopup,
.RadPicker .rcTimePopup {
    background: none !important;
    border: 0 !important;
    height: 1.7em !important;
}

.RadPicker .rcCalPopup:hover,
.RadPicker .rcTimePopup:hover {
    color: #666;
    background: none;
}


/* calendar */

.RadCalendarPopup .RadCalendar .rcMain .rcRow .rcSelected a {
    /* border-color: #dc4f00;
    background: #dc4f00; */
}


/* calendar icons and hover state */

.RadCalendar .rcFastPrev:hover,
.RadCalendar .rcPrev:hover,
.RadCalendar .rcNext:hover,
.RadCalendar .rcFastNext:hover,
.RadCalendar .rcFastPrev:hover:before,
.RadCalendar .rcPrev:hover:before,
.RadCalendar .rcNext:hover:before,
.RadCalendar .rcFastNext:hover:before {
    color: #dc4f00 !important;
}

.RadPicker .rcCalPopup:hover:before,
.RadPicker .rcCalPopup:focus:before,
.RadPicker .rcCalPopup:active:before,
.RadPicker .rcTimePopup:hover:before,
.RadPicker .rcTimePopup:focus:before,
.RadPicker .rcTimePopup:active:before {
    color: #444 !important;
}


/* list box (rcb list) */

[id*=RadListBox_DropDown].RadComboBoxDropDown {
    display: inline-block !important;
    min-width: 11.66666667em !important;
    border-color: #eee;
}

[id*=RadListBox_DropDown].RadComboBoxDropDown li {
    padding: 5px 10px;
}

[id*=RadListBox_DropDown].RadComboBoxDropDown li label {
    margin-left: -4px;
}

[id*=RadListBox_DropDown].RadComboBoxDropDown .rcbHovered {
    /* background: #dc4f00; */
    margin: 0;
}

[id*=RadListBox_DropDown].RadComboBoxDropDown .rcbHovered label {
    /* color: #fff !important; */
}

[id*=RadListBox_DropDown].RadComboBoxDropDown li label {
    font-size: 0.92em !important;
    /* display: inline-block; */
    line-height: 1.2em !important;
    color: #000 !important;
}


/* buttons */

input[id*=ZoomPictureButton] {
    display: inline-block !important;
}


/* button.rwzButton,
input[value=Save],
input.TextButton.Save,
input.SaveAndNew,
input.Close,
input[value=Delete],
input[id*=FormButtonSubmit],
input[id*=Find],
.RadUpload .ruButton,
input[id*=ZoomPictureButton],
input[id*=ViewUploadButton],
input[id*=DeleteUploadButton] {
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    border: none !important;
    border-radius: 2px;
    display: inline-block;
    height: 35px;
    text-transform: uppercase;
    min-width: 7em;
    padding: 5px 10px;
    vertical-align: middle !important;
}

input[value=Save],
input.Close,
input[value=Delete],
button.rwzButton.rwzPrevious,
input[id*=ZoomPictureButton],
input[id*=ViewUploadButton] {
    background: none !important;
    color: #000 !important;
}

input[value=Save]:hover,
input.Close:hover,
input[value=Delete]:hover,
button.rwzButton.rwzPrevious:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}

button.rwzButton,
input.TextButton.Save,
input.SaveAndNew,
#MainHtml input[id*=FormButtonSubmit],
#MainHtml input[id*=Find],
.RadUpload .ruButton,
#MainHtml input[id*=DeleteUploadButton] {
    color: #fff;
    border-color: #14afca;
    color: #fff;
    background-color: #14afca;
    background-image: linear-gradient(#54cbe0, #14afca);
    vertical-align: middle;
    margin: 0 !important;
}

button.rwzButton:hover,
input.TextButton.Save:hover,
input.SaveAndNew:hover,
#MainHtml input[id*=FormButtonSubmit]:hover,
#MainHtml input[id*=Find]:hover,
.RadUpload .ruButton:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
} */

input[id*=FormButtonSubmit] {
    width: 100% !important;
    font-weight: 600;
}

button.rwzButton.rwzPrevious:hover {
    background-color: #dc4f00;
    color: #fff;
}

.RadUpload .ruInputs .ruFileWrap {
    overflow: visible;
}


/* next button hovered state */

button.rwzButton:hover {
    background-color: #b34000;
}

.RadComboBox button.rcbActionButton {
    border-color: transparent;
    color: #000;
    background-color: transparent;
}


/* footer */

.wfz-form-footer {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

@media (min-width: 768px) {
    .wfz-form-footer {
        text-align: right;
    }
}


/* wizard */


/* temporarily hide call out until find fix */

span.rwzCallout {
    /* display: none; */
}

.RadWizard,
.RadWizard .rwzBreadCrumb,
.RadWizard .rwzProgressBar,
.RadWizard .rwzContent {
    box-sizing: border-box;
}

.RadWizard {
    /* min-width: 19.2307692308em; */
    /* overflow: hidden; */
    /* -webkit-tap-highlight-color: transparent; */
    -webkit-touch-callout: none;
}

.RadWizard .rwzUL,
.RadWizard .rwzNav {
    margin: 0;
    padding: 0;
}

.RadWizard .rwzHeader.rwzHidden,
.RadWizard .rwzBreadCrumb.rwzHidden,
.RadWizard .rwzProgressBar.rwzHidden,
.RadWizard .rwzLI.rwzHidden,
.RadWizard .rwzButton.rwzHidden,
.RadWizard .rwzCancelWrapper.rwzHidden {
    display: none;
}

.RadWizard .rwzUL {
    overflow: hidden;
    overflow-x: auto;
}

.rwzBreadCrumb {
    background: #f4f5ed;
}

a.rwzLink.btn.PrimaryButton:before {
    content: " ";
    background: inherit;
}

a.rwzLink.btn.PrimaryButton {
    text-align: left;
    font-size: inherit;
}

.RadWizard .rwzText {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    /* text-overflow: ellipsis; */
    font-size: 0.9em;
}

.RadWizard .rwzBreadCrumb {
    /* width: 100%; */
    /* overflow: hidden; */
}

.RadWizard .rwzBreadCrumb .rwzLink {
    /* cursor: pointer; */
}

.RadWizard .rwzBreadCrumb .rwzDisabled .rwzLink {
    cursor: default;
}

.RadWizard .rwzBreadCrumb .rwzLast .rwzLink:before {
    display: none;
}

.RadWizard .rwzBreadCrumb.rwzExpandedStepsButtons .rwzUL {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.RadWizard .rwzBreadCrumb.rwzExpandedStepsButtons .rwzLI {
    float: none;
    display: table-cell;
}

.RadWizard .rwzBreadCrumb.rwzExpandedStepsButtons .rwzPager {
    display: none;
}

.RadWizard .rwzBreadCrumb .rwzPager {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

.RadWizard .rwzBreadCrumb .rwzPager .rwzCallout {
    width: 1em;
    height: 3.23076923077em;
    position: absolute;
    top: 0;
    left: -.923076923077em;
    overflow: hidden;
    font-size: 1.1rem;
    font-size: 10.74449999999px;
}

.RadWizard .rwzBreadCrumb .rwzPager .rwzCallout:before,
.RadWizard .rwzBreadCrumb .rwzPager .rwzCallout:after {
    content: "";
    position: absolute;
    width: 1.92307692308em;
    height: 1.92307692308em;
    left: 0;
    -moz-transform: rotate(45deg) skew(15deg, 15deg);
    -webkit-transform: rotate(45deg) skew(15deg, 15deg);
    -ms-transform: rotate(45deg) skew(15deg, 15deg);
    -o-transform: rotate(45deg) skew(15deg, 15deg);
    transform: rotate(45deg) skew(15deg, 15deg);
    border-width: 1px;
    border-style: solid;
}

.RadWizard .rwzBreadCrumb .rwzPager .rwzCallout:before {
    top: -1.15384615385em;
}

.RadWizard .rwzBreadCrumb .rwzPager .rwzCallout:after {
    top: 2.23076923077em;
}

.RadWizard .rwzBreadCrumb.rwzLeftImages .rwzImage,
.RadWizard .rwzBreadCrumb.rwzRightImages .rwzImage {
    vertical-align: middle;
    display: inline-block;
    margin-left: -30px;
}

.RadWizard .rwzBreadCrumb.rwzLeftImages span.rwzImage,
.RadWizard .rwzBreadCrumb.rwzRightImages span.rwzImage {
    width: 16px;
    height: 16px;
}

.RadWizard .rwzBreadCrumb.rwzLeftImages .rwzLink {
    padding-left: 3.46153846154em;
}

.RadWizard .rwzBreadCrumb.rwzLeftImages .rwzImage {
    margin: 0 3px 0 -25px;
}

.RadWizard .rwzBreadCrumb.rwzRightImages .rwzLink {
    padding-right: 3.46153846154em;
}

.RadWizard .rwzBreadCrumb.rwzRightImages .rwzImage {
    margin: 0 -25px 0 -3px;
}

.RadWizard .rwzProgressBar {
    width: 100%;
    top: 3.84615384615em;
    overflow: hidden;
}

.RadWizard .rwzProgress {
    /* display: block; */
    /* height: 8px; */
    /* text-indent: -9999px; */
    /* transition: width .6s ease; */
}

.RadWizard .rwzSlider {
    overflow: auto;
}

.RadWizard .rwzContent {
    white-space: normal;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.RadWizard .rwzStep {
    display: none;
}

.RadWizard .rwzStep.rwzActive {
    display: block;
}

.RadWizard .rwzFooter.rwzHidden {
    display: none;
}

.RadWizard .rwzFooter.rwzShadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.RadWizard .rwzNav {
    width: 100%;
}

.RadWizard .rwzNav:after {
    content: "";
    display: block;
    clear: both;
}

.RadWizard .rwzNav .rwzLI {
    float: left;
    margin-right: .769230769231em;
}

.RadWizard .rwzNav .rwzRight {
    float: right;
    margin-right: 0;
    margin-left: .384615384615em;
}

.RadWizard .rwzButton {
    display: block;
    min-width: 5.76923076923em;
    padding: 0 1.15384615385em;
    border: none !important;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    outline: 0;
}

.RadWizard .rwzButton .rwzText {
    line-height: 32px;
}

.RadWizard .rwzCancelWrapper {
    margin: 10px 0 -10px;
    text-align: center;
    border-top-width: 1px;
    border-top-style: solid;
    line-height: 30px;
}

.RadWizard .rwzCancelBtn {
    display: inline-block;
    padding: 5px 10px 7px;
    text-decoration: underline;
    cursor: pointer;
}

.RadWizard .rwzCancelBtn:hover {
    text-decoration: none;
}

.RadWizard_rtl .rwzBreadCrumb .rwzLink {
    padding-left: .846153846154em;
    padding-right: 1.53846153846em;
}

.RadWizard_rtl .rwzBreadCrumb .rwzLink:before {
    border-width: 0 0 1px 1px;
    border-radius: 0 100px 0 0;
    right: auto;
    left: -12.5714285714px;
}

.RadWizard_rtl .rwzBreadCrumb .rwzPager {
    right: auto;
    left: 0;
}

.RadWizard_rtl .rwzBreadCrumb .rwzPager .rwzCallout {
    left: 0;
    right: -.846153846154em;
}

.RadWizard.rwzHorizontal .rwzBreadCrumb .rwzLink:hover:before {
    background: inherit;
}

.RadWizard.rwzHorizontal .rwzBreadCrumb .rwzLI {
    border-style: none;
}

.RadWizard.rwzHorizontal .rwzBreadCrumb .rwzCallout:before {
    background: none;
}

.RadWizard div.rwzProgressBar {
    border-style: none;
}


/* Strength bar */

span[id*=RadTextBox_passwordStrengthIndicator] {
    opacity: 0;
    -webkit-transition: opacity ease-out 300ms;
    -moz-transition: opacity ease-out 300ms;
    -o-transition: opacity ease-out 300ms;
    transition: opacity ease-out 300ms;
}

span[id*=RadTextBox_passwordStrengthIndicator].riStrengthBar.riStrengthBarL1,
span[id*=RadTextBox_passwordStrengthIndicator].riStrengthBar.riStrengthBarL2,
span[id*=RadTextBox_passwordStrengthIndicator].riStrengthBar.riStrengthBarL3,
span[id*=RadTextBox_passwordStrengthIndicator].riStrengthBar.riStrengthBarL4,
span[id*=RadTextBox_passwordStrengthIndicator].riStrengthBar.riStrengthBarL5 {
    opacity: 1;
}

.riStrengthBar.riStrengthBar {
    padding: 5px 10px;
    height: 35px;
}


/* responsive form pagination */

#wfznavParent button {
    /* border-color: #14afca;
    color: #fff;
    background-color: #14afca;
    background-image: linear-gradient(#54cbe0, #14afca);
    margin-right: 10px; */
}

#wfz_gotonav {
    background: #f4f5ed;
}

#wfz_gotonav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#wfz_gotonav li {
    border-bottom: 1px solid #e5e5e5;
}

#wfz_gotonav a {
    display: block;
    padding: 5px 25px 5px 30px;
}

#wfz_gotonav a:hover,
#wfz_gotonav a:focus,
#wfz_gotonav a:active {
    /* background: #dc4f00; */
}