.RadCalendar_WebFormZ {
    background: #fff;
    font: inherit;
}

.RadCalendar_WebFormZ .rcTitlebar {
    padding: 0;
    border-color: #ddd;
    background-color: #f5f5f5;
    color: #333;
    border-radius: 4px 4px 0 0
}

.RadCalendar_WebFormZ .rcTitlebar table {
    font: inherit
}

.RadCalendar_WebFormZ .rcTitlebar .rcPrev,
.RadCalendar_WebFormZ .rcTitlebar .rcNext,
.RadCalendar_WebFormZ .rcTitlebar .rcFastPrev,
.RadCalendar_WebFormZ .rcTitlebar .rcFastNext {
    margin: 2px;
    width: 32px;
    height: 32px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-image: url('Common/radActionsSprite.png')
}

.RadCalendar_WebFormZ .rcTitlebar .rcPrev:hover,
.RadCalendar_WebFormZ .rcTitlebar .rcNext:hover,
.RadCalendar_WebFormZ .rcTitlebar .rcFastPrev:hover,
.RadCalendar_WebFormZ .rcTitlebar .rcFastNext:hover {
    border-color: #c2c2c2;
    background-color: #e0e0e0
}

.RadCalendar_WebFormZ .rcTitlebar .rcFastPrev {
    background-position: -9px -909px
}

.RadCalendar_WebFormZ .rcTitlebar .rcPrev {
    background-position: -9px -109px
}

.RadCalendar_WebFormZ .rcTitlebar .rcNext {
    background-position: -9px -159px
}

.RadCalendar_WebFormZ .rcTitlebar .rcFastNext {
    background-position: -9px -959px
}

.RadCalendar_WebFormZ .rcMain {
    border-color: #ddd;
    border-radius: 0 0 4px 4px
}

.RadCalendar_WebFormZ .rcMainTable {
    font: inherit
}

.RadCalendar_WebFormZ .rcCalendars>.rcMainTable {
    border-collapse: collapse
}

.RadCalendar_WebFormZ .rcHeader,
.RadCalendar_WebFormZ .rcFooter {
    border-color: #ddd
}

.RadCalendar_WebFormZ th.rcViewSel {
    padding: 6px 14px;
    width: 6px;
    background: #f5f5f5;
    border-right: 1px solid #ddd
}

.RadCalendar_WebFormZ .rcWeek th {
    margin-left: 1px;
    padding-top: .5em;
    padding-bottom: .5em;
    color: #333;
    text-align: center
}

.RadCalendar_WebFormZ .rcRow th {
    border-right: 1px solid #ddd;
    background-color: #f5f5f5
}

.RadCalendar_WebFormZ .rcRow td {
    border-color: transparent;
    padding: .5em !important
}

.RadCalendar_WebFormZ .rcMain .rcRow a,
.RadCalendar_WebFormZ .rcMain .rcRow span {
    padding: 0;
    width: 32px;
    height: 32px;
    /* border: 1px solid transparent; */
    border-radius: 22px;
    color: #333;
    text-align: center;
    line-height: 2.3
}

.RadCalendar_WebFormZ .rcRow .rcToday a {
    background: #fff;
    border-color: #66afe9;
    box-shadow: 0 0 6px 1px #66afe9
}

.RadCalendar_WebFormZ .rcRow th,
.RadCalendar_WebFormZ .rcMain .rcWeekend a,
.RadCalendar_WebFormZ .rcMain .rcOtherMonth a,
.RadCalendar_WebFormZ .rcMain .rcOutOfRange span {
    color: #999
}

.RadCalendar_WebFormZ .rcMain .rcRow .rcSelected a {
    border-color: #357ebd;
    background: #428bca;
    color: #fff
}

.RadCalendar_WebFormZ .rcRow .rcHover a {
    border-color: #c2c2c2;
    background-color: #e0e0e0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1)
}

.RadCalendarMultiView_WebFormZ .rcTitlebar {
    padding: 0;
    border-bottom: 0 none;
    background: #f5f5f5
}

.RadCalendarMultiView_WebFormZ .rcMain {
    border-color: #ddd;
    border-radius: 0 0 4px 4px;
    border-width: 0 1px 1px 0
}

.RadCalendarMultiView_WebFormZ .rcCalendar {
    border-color: #ddd;
    border-width: 1px 0 0 1px
}

.RadCalendarMultiView_WebFormZ .rcMainTable .rcTitle {
    border-color: #e7e7e7;
    background: #fff;
    color: #333;
    line-height: 35px
}

.RadCalendarMonthView_WebFormZ {
    width: 203px;
    font: inherit;
    border-radius: 4px;
    border-color: #ddd;
    background: #fff;
    color: #333;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)
}

.RadCalendarMonthView_WebFormZ tr td {
    padding: 0 0 0 3px
}

.RadCalendarMonthView_WebFormZ #rcMView_Feb,
.RadCalendarMonthView_WebFormZ #rcMView_Apr,
.RadCalendarMonthView_WebFormZ #rcMView_Jun,
.RadCalendarMonthView_WebFormZ #rcMView_Aug,
.RadCalendarMonthView_WebFormZ #rcMView_Oct,
.RadCalendarMonthView_WebFormZ #rcMView_Dec {
    border-right: 1px solid #ddd
}

.RadCalendarMonthView_WebFormZ a {
    margin: 1px;
    padding: 0;
    width: 50px;
    height: 25px;
    line-height: 25px;
    color: #333;
    border-radius: 4px
}

.RadCalendarMonthView_WebFormZ a:hover {
    background-color: #e0e0e0
}

.RadCalendarMonthView_WebFormZ .rcSelected a {
    margin: 0;
    padding: 0;
    border-radius: 4px;
    border: 0 none;
    background: #428bca;
    color: #fff
}

.RadCalendarMonthView_WebFormZ #rcMView_PrevY a,
.RadCalendarMonthView_WebFormZ #rcMView_NextY a {
    text-indent: 0
}

.RadCalendarMonthView_WebFormZ #rcMView_PrevY a:hover,
.RadCalendarMonthView_WebFormZ #rcMView_NextY a:hover {
    background-color: #e0e0e0
}

.RadCalendarMonthView_WebFormZ .rcButtons {
    padding: 7px 0 7px 1px;
    width: auto
}

.RadCalendarMonthView_WebFormZ .rcButtons input {
    margin: 0 5px 5px;
    height: 34px;
    float: left;
    font: 14px/1.42857 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff
}

.RadCalendarMonthView_WebFormZ .rcButtons input:hover {
    background: #e0e0e0;
    border-color: #c2c2c2;
    color: #333
}

.RadCalendarMonthView_WebFormZ #rcMView_Today {
    margin: 0 11px 0 5px;
    width: 65px
}

.RadCalendarMonthView_WebFormZ #rcMView_OK {
    margin: 0 5px 0 0;
    width: 62px;
    background: #428bca;
    color: #fff
}

.RadCalendarMonthView_WebFormZ #rcMView_Cancel {
    margin: 0;
    width: 62px
}

table.RadCalendarTimeView_WebFormZ {
    font: inherit;
    border-color: #ddd;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)
}

.RadCalendarTimeView_WebFormZ th {
    line-height: 35px;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5;
    border-radius: 4px 4px 0 0
}

table.RadCalendarTimeView_WebFormZ td {
    padding: 2px 5px;
    width: 70px;
    border-color: #ddd
}

.RadCalendarTimeView_WebFormZ a {
    padding: 1px;
    white-space: nowrap;
    border-radius: 4px;
    color: #333
}

.RadCalendarTimeView_WebFormZ td.rcSelected a {
    padding: 0;
    background: #428bca;
    color: #fff;
    border: 0
}

.RadCalendarTimeView_WebFormZ td.rcHover a {
    background: #ebebeb;
    border: 0;
    padding: 0
}

.RadCalendarTimeView_WebFormZ .rcFooter {
    border-color: #ddd
}

.RadPicker_WebFormZ.RadDateTimePicker .rcCalPopup {
    margin-left: -1px;
    margin-right: 0;
    border-radius: 0
}

.RadPicker_WebFormZ td input.riTextBox {
    border-radius: 4px 0 0 4px
}

.RadPicker_WebFormZ .rcCalPopup,
.RadPicker_WebFormZ .rcTimePopup {
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    background-image: url('Common/radActionsSprite.png');
    background-color: #fff
}

.RadPicker_WebFormZ .rcCalPopup:hover,
.RadPicker_WebFormZ .rcTimePopup:hover {
    background-color: #e0e0e0
}

.RadPicker_WebFormZ .rcCalPopup {
    margin-left: -1px;
    border-radius: 0 4px 4px 0;
    background-position: -10px -4210px
}

.RadPicker_WebFormZ .rcCalPopup:hover {
    background-position: -60px -4210px
}

.RadPicker_WebFormZ .rcTimePopup {
    margin-left: -1px;
    border-radius: 0 4px 4px 0;
    background-position: -10px -4260px
}

.RadPicker_WebFormZ .rcTimePopup:hover {
    background-position: -60px -4260px
}

.RadCalendarPopup .RadCalendar_WebFormZ {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border-radius: 4px
}

.RadCalendarRTL_WebFormZ .rcTitlebar .rcFastPrev {
    background-position: -59px -959px
}

.RadCalendarRTL_WebFormZ .rcTitlebar a.rcFastPrev:hover {
    background-position: -59px -959px
}

.RadCalendarRTL_WebFormZ .rcTitlebar .rcPrev {
    background-position: -9px -159px
}

.RadCalendarRTL_WebFormZ .rcTitlebar a.rcPrev:hover {
    background-position: -59px -159px
}

.RadCalendarRTL_WebFormZ .rcTitlebar .rcNext {
    background-position: -9px -109px
}

.RadCalendarRTL_WebFormZ .rcTitlebar a.rcNext:hover {
    background-position: -59px -109px
}

.RadCalendarRTL_WebFormZ .rcTitlebar .rcFastNext {
    background-position: -9px -909px
}

.RadCalendarRTL_WebFormZ .rcTitlebar a.rcFastNext:hover {
    background-position: -59px -909px
}

.rcTitlebar {
    display: flex;
    align-items: center;
}

.RadCalendar_WebFormZ .rcTitlebar .rcFastPrev {
    order: 1;
}

.RadCalendar_WebFormZ .rcTitlebar .rcPrev {
    order: 2;
}

.RadCalendar .rcTitle {
    order: 3;
}

.RadCalendar_WebFormZ .rcTitlebar .rcNext {
    order: 4;
}

.RadCalendar_WebFormZ .rcTitlebar .rcFastNext {
    order: 5;
}