.RadDropDownList_WebFormZ {
    color: #333;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.42857
}

.RadDropDownList_WebFormZ .rddlInner {
    border-color: #ccc;
    color: #333;
    background-color: #fff;
    border-radius: 0;
    padding: 6px 32px 6px 12px
}

.RadDropDownList_WebFormZ .rddlEmptyMessage,
.RadDropDownList_WebFormZ .rddlDefaultMessage {
    color: #555
}

.RadDropDownList_WebFormZ .rddlIcon {
    width: 24px;
    height: 24px;
    top: 50% !important;
    right: 4px !important;
    margin-top: -12px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -13px -63px
}

.RadDropDownList_WebFormZ .rddlHovered {
    border-color: #c2c2c2;
    color: #333;
    background-color: #e0e0e0
}

.RadDropDownList_WebFormZ .rddlFocused {
    border-color: #c2c2c2;
    color: #333;
    background-color: #e0e0e0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08) inset
}

.rddlPopup_WebFormZ {
    width: 160px;
    margin-top: 2px;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.42857;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)
}

.rddlPopup_WebFormZ .rddlList {
    padding: 6px 0;
    *padding: 0;
    box-sizing: border-box
}

.rddlPopup_WebFormZ .rddlItem {
    padding: 2px 12px
}

.rddlPopup_WebFormZ .rddlItemHovered {
    background-color: #f5f5f5
}

.rddlPopup_WebFormZ .rddlItemSelected {
    color: #fff;
    background-color: #428bca
}

.rddlPopup_WebFormZ .rddlItemLoading {
    background-color: #f5f5f5
}