.RadWizard_WFZ-Wizard {
    /* font-family: "Segoe UI",Arial,Helvetica,sans-serif; */
    color: #333;
    background: #fff;
}

.RadWizard_WFZ-Wizard .rwzButton {
    /*border-color: #cdcdcd;
    color: #000;
    background-color: #f4f5ed;
    border-color: transparent !important;
    color: #000;
    background-color: transparent;    
    text-transform: uppercase;
    font-weight: bold !important;
    font-size: 0.9em !important; */
}

.RadWizard_WFZ-Wizard .rwzNext,
.RadWizard_WFZ-Wizard .rwzFinish {
    /* border-color: #DC4F00 !important;
    color: #fff;
    background-color: #DC4F00; */
}

.RadWizard_WFZ-Wizard .rwzLink {
    border-color: #cdcdcd;
    color: #000;
    background-color: #f4f5ed;
}

.RadWizard_WFZ-Wizard .rwzLink:before {
    border-color: #cdcdcd;
    background-color: #f4f5ed;
    box-shadow: none;
}

.RadWizard_WFZ-Wizard .rwzProgressBar {
    border-color: #e5e5e5;
    background-color: #e5e5e5;
}

.RadWizard_WFZ-Wizard .rwzProgress {
    border-color: #DC4F00;
    background-color: #DC4F00;
}

.RadWizard_WFZ-Wizard .rwzHovered.rwzButton,
.RadWizard_WFZ-Wizard .rwzHovered .rwzLink {
    border-color: #fff;
    color: #000;
    background-color: #fff;
}

.RadWizard_WFZ-Wizard .rwzHovered.rwzNext,
.RadWizard_WFZ-Wizard .rwzHovered.rwzFinish {
    border-color: #DC4F00;
    color: #fff;
    background-color: #DC4F00;
}

.RadWizard_WFZ-Wizard .rwzHovered .rwzLink:before {
    border-color: #fff;
    background-color: #fff;
}

.RadWizard_WFZ-Wizard .rwzSelected .rwzLink,
.RadWizard_WFZ-Wizard .rwzSelected .rwzLink:before {
    border-color: #DC4F00;
    color: #fff;
    background-color: #DC4F00;
}

.RadWizard_WFZ-Wizard {
    min-width: 20.83333333em;
    position: relative;
    padding: 10px;
    line-height: 1.42857143;
    box-sizing: border-box;
}

.RadWizard_WFZ-Wizard:after {
    content: "";
    display: block;
    clear: both;
}

.RadWizard_WFZ-Wizard .rwzBreadCrumb,
.RadWizard_WFZ-Wizard .rwzNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.RadWizard_WFZ-Wizard img {
    border-width: 0;
}

.RadWizard_WFZ-Wizard .rwzHidden {
    display: none !important;
}

.RadWizard_WFZ-Wizard .rwzLink {
    cursor: default;
}

.RadWizard_WFZ-Wizard span.rwzImage {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.RadWizard_WFZ-Wizard .rwzBreadCrumb {
    overflow: hidden;
}

.RadWizard_WFZ-Wizard .rwzBreadCrumb .rwzLink {
    display: block;
    position: relative;
    padding: 0 1.07142857em;
    /* border-width:1px; */
    border-style: none;
    outline: 0;
    text-decoration: none;
    white-space: nowrap;
}

.RadWizard_WFZ-Wizard .rwzBreadCrumb .rwzLink:before {
    content: "";
    width: 1.25em;
    height: 1.25em;
    position: absolute;
    top: 50%;
    right: -.57em;
    margin-top: -.67em;
    -moz-transform: rotate(45deg) skew(15deg, 15deg);
    -webkit-transform: rotate(45deg) skew(15deg, 15deg);
    -ms-transform: rotate(45deg) skew(15deg, 15deg);
    -o-transform: rotate(45deg) skew(15deg, 15deg);
    transform: rotate(45deg) skew(15deg, 15deg);
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-radius: 0 0 0 100px;
    z-index: 3;
}

.RadWizard_WFZ-Wizard .rwzBreadCrumb .rwzText {
    display: inline-block;
    line-height: 2.16666667em;
    max-width: 100%;
    vertical-align: middle;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.RadWizard_WFZ-Wizard .rwzBreadCrumb .rwzImage {
    vertical-align: middle;
}

.RadWizard_WFZ-Wizard .rwzBreadCrumb.rwzLeftImages .rwzImage {
    margin-right: 5px;
}

.RadWizard_WFZ-Wizard .rwzBreadCrumb.rwzRightImages .rwzLink {
    padding-right: 30px;
}

.RadWizard_WFZ-Wizard .rwzBreadCrumb.rwzRightImages .rwzImage {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -8px;
}

.RadWizard_WFZ-Wizard .rwzProgressBar {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    overflow: hidden;
}

.RadWizard_WFZ-Wizard .rwzProgress {
    display: block;
    height: 13px;
    text-indent: -9999px;
    transition: .2s all ease-in-out;
}

.RadWizard_WFZ-Wizard .rwzContent {
    overflow: auto;
}

.RadWizard_WFZ-Wizard .rwzStep {
    display: none;
}

.RadWizard_WFZ-Wizard .rwzStep.rwzActive {
    display: block;
}

.RadWizard_WFZ-Wizard .rwzNav {
    margin-bottom: 15px;
}

.RadWizard_WFZ-Wizard .rwzNav:after {
    content: "";
    display: block;
    clear: both;
}

.RadWizard_WFZ-Wizard .rwzNav .rwzLI {
    float: left;
    margin-right: 5px;
}

.RadWizard_WFZ-Wizard .rwzNav .rwzRight {
    float: right;
    margin-right: 0;
    margin-left: 5px;
}

.RadWizard_WFZ-Wizard .rwzContent+.rwzNav {
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}


/* .RadWizard_WFZ-Wizard .rwzButton {
    font: inherit;
    display: inline-block;
    min-width: 7em;
    padding: 4px 10px;
    border: 1px solid #828282;
    user-select: none;
    text-align: center;
    outline: 0;
} */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .RadWizard_WFZ-Wizard .rwzButton {
        margin-bottom: 1px;
    }
}

@-moz-document url-prefix() {
    .radwizard_wfz-wizardbutton::-moz-focus-inner {
        border: 0;
    }
    .RadWizard_WFZ-Wizard button:focus {
        outline: 1px dotted #000;
    }
}

.RadWizard_WFZ-Wizard .rwzHovered.rwzButton,
.RadWizard_WFZ-Wizard .rwzHovered .rwzLink {
    cursor: pointer;
}

.RadWizard_WFZ-Wizard .rwzDisabled .rwzText {
    opacity: .6;
    filter: alpha(opacity=60);
}

.rwzHorizontal .rwzBreadCrumb,
.rwzHorizontal .rwzProgressBar {
    margin-bottom: 15px;
}

.rwzHorizontal .rwzBreadCrumb {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.rwzHorizontal .rwzLI {
    display: table-cell;
    /* border: none; */
    border-color: #E5E5E5;
}

.rwzHorizontal .rwzLink {
    margin-left: -1px;
}

.rwzHorizontal .rwzLink:before {
    /* box-shadow:2px -2px 2px rgba(0,0,0,0.1) */
}

.rwzHorizontal .rwzFirst .rwzLink {
    margin-left: 0;
    padding-left: 10px !important;
}

.rwzHorizontal .rwzLast .rwzLink:before {
    display: none;
}

.rwzHorizontal.rwzBottomBreadCrumb .rwzBreadCrumb,
.rwzHorizontal.rwzBottomBreadCrumb .rwzProgressBar {
    margin: 15px 0 0;
}

.rwzHorizontal.rwzBottomBreadCrumb.rwzTopProgressBar .rwzProgressBar {
    margin: 0 0 15px;
}

.rwzHorizontal.rwzBottomProgressBar .rwzProgressBar {
    margin: 15px 0 0;
}

.rwzVertical .rwzProgressBar,
.rwzVertical .rwzBreadCrumb {
    float: left;
    margin-right: 15px;
}

.rwzVertical .rwzBreadCrumb {
    width: auto;
    padding-right: .7em;
}

.rwzVertical .rwzBreadCrumb .rwzLI {
    min-width: 10em;
}

.rwzVertical .rwzBreadCrumb .rwzLink:before {
    display: none;
}

.rwzVertical .rwzBreadCrumb .rwzSelected .rwzLink:before {
    display: block;
}

.rwzVertical .rwzProgressBar {
    width: 13px;
    height: 100%;
}

.rwzVertical .rwzContentWrapper {
    overflow: hidden;
}

.rwzVertical .rwzContentWrapper:after {
    content: "";
    display: block;
    clear: both;
}

.rwzVertical.rwzRightProgressBar .rwzProgressBar {
    float: right;
    margin: 0 0 0 10px;
}

.rwzRightBreadCrumb .rwzBreadCrumb .rwzLink:before,
.RadWizard_WFZ-Wizard_rtl .rwzBreadCrumb .rwzLink:before {
    right: auto;
    left: -.7em;
    border-width: 0 0 1px 1px;
    border-radius: 0 100px 0 0;
}

.rwzRightBreadCrumb .rwzProgressBar,
.rwzRightBreadCrumb .rwzBreadCrumb,
.RadWizard_WFZ-Wizard_rtl.rwzVertical .rwzProgressBar,
.RadWizard_WFZ-Wizard_rtl.rwzVertical .rwzBreadCrumb {
    margin: 0 0 0 10px;
    float: right;
}

.rwzRightBreadCrumb .rwzBreadCrumb,
.RadWizard_WFZ-Wizard_rtl.rwzVertical .rwzBreadCrumb {
    padding-left: .7em;
    padding-right: 0;
}

.rwzRightBreadCrumb.rwzLeftProgressBar .rwzProgressBar,
.RadWizard_WFZ-Wizard_rtl.rwzVertical.rwzLeftProgressBar .rwzProgressBar {
    margin: 0 10px 0 0;
    float: left;
}

.RadWizard_WFZ-Wizard_rtl .rwzBreadCrumb {
    text-align: right;
}

.RadWizard_WFZ-Wizard_rtl .rwzBreadCrumb.rwzLeftImages .rwzImage {
    margin: 0 0 0 5px;
}

.RadWizard_WFZ-Wizard_rtl .rwzNav .rwzLI {
    float: right;
    margin-right: 0;
    margin-left: 5px;
}

.RadWizard_WFZ-Wizard_rtl .rwzNav .rwzRight {
    float: left;
    margin-right: 5px;
    margin-left: 0;
}

.RadWizard_WFZ-Wizard_rtl .rwzContent {
    text-align: right;
}

.RadWizard_WFZ-Wizard_rtl.rwzHorizontal .rwzBreadCrumb .rwzLink {
    margin-left: 0;
}

.RadWizard_WFZ-Wizard_rtl.rwzHorizontal .rwzBreadCrumb .rwzFirst .rwzLink {
    padding-left: 15px;
    padding-right: 10px;
}

.RadWizard_WFZ-Wizard_rtl.rwzHorizontal .rwzLink:before {
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);
}

.RadWizard_WFZ-Wizard_rtl.rwzVertical .rwzBreadCrumb {
    padding-right: 0;
    padding-left: .7em;
}

.rwzHorizontal .rwzBreadCrumb .rwzCallout:before {
    background: none !important;
}